.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0.5rem 2.5rem; */
  position: absolute;
  z-index: 1;
  width: 100vw;
  color: white;
  height: 64px;
}

.navbar-hidden {
  animation: moveUp 0.5s ease-in-out;
  display: none;
}

.navbar-sticky {
  background-color: rgb(62, 72, 117);
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 0.5s ease-in-out;
}

.navbar--link {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
  width: 250px;
}

.navbar--link-item {
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  font-size: 18px;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar--link-item:hover {
  background-color: rgb(168, 123, 72);
}

.navbar--logo-holder {
  margin-left: 20px;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }

  to {
    transform: translateY(0rem);
  }
}

@keyframes moveUp {
  from {
    transform: translateY(0rem);
  }

  to {
    transform: translateY(-5rem);
  }
}