.contact-section {
  width: 100%;
  height: 95vh;
  background-color: white;
  display: flex;
  /* margin-top: 100px; */
  justify-content: center;
  align-items: flex-end;
}

.contact-div {
  background-color: rgb(62, 72, 117);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100vw;
  border-radius: 200px 200px 0 0;
  color: white;
  font-size: 24px;
}

.contact-list {
  list-style-type: none;
  padding: 0;
}
