.contact-section {
  width: 100%;
  height: 100vh;
  background-color: slateblue;
  display: flex;
  flex-direction: column;
  /* margin-top: 100px; */
  justify-content: center;
  align-items: center;
}