.contact-section {
  width: 100%;
  height: 95vh;
  background-color: #ededed;
  display: flex;
  /* margin-top: 100px; */
  justify-content: center;
  align-items: flex-end;
}

.contact-div {
  background-color: rgb(62, 72, 117);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  border-radius: 200px 200px 0 0;
  color: white;
  font-size: 24px;
}

.contact-div img {
  width: 180px;
  border: 2px solid #ededed;
  border-radius: 5px;
  margin: 8px;
}

.contact-div a {
  text-decoration: none;
  color: white;
}

.contact-div a:hover {
  font-weight: 600;
  font-size: 30px;
  color: rgb(189, 89, 52);
}

.contact-pic-text {
  display: flex;
  flex-direction: row;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70vw;
  position: relative;
  top: 130px;
}

.contact-list a {
  color: white;
  font-size: 40px;
}

.contact-list a:hover {
  color: rgb(189, 89, 52);
  font-size: 50px;
}

.contact-list a:active {
  color: white;
}

.contact-text {
  text-align: center;
}

@media screen and (min-width: 720px) {
  .contact-section {
    align-items: center;
  }

  .contact-div {
    border-radius: 0;
  }

  .contact-pic-text {
    width: 80vw;
    max-width: 660px;
    justify-content: space-between;
  }

  .contact-div img {
    width: 250px;
  }

  .contact-text {
    font-size: 32px;
  }

  .contact-text a {
    align-self: center;
  }
}