.links a {
  text-decoration: none;
  color: rgb(62, 72, 117);
}

.links a:hover {
  font-weight: 700;
  color: rgb(189, 89, 52);
}

.spanimal-section {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  color: rgb(62, 72, 117);
  display: flex;
  flex-direction: column;
  /* margin-top: 100px; */
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
}

.spanimal-section h2 {
  padding-top: 100px;
  /*new font goes here*/
  margin-bottom: 0;
}

.links p {
  padding: 0;
}

.spanimals-logo-arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.spanimals-logo-arrows a {
  text-decoration: none;
  color: #ededed;
}

.spanimal-circle {
  width: 100vw;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 7px solid #ededed;
  border-radius: 200px;
  margin: 0 10px;
  background-color: rgb(62, 72, 117);
  color: white;
  text-align: center;
  padding: 0 30px;
}

.spanimal-circle button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.spanimal-circle img {
  width: 100px;
  animation: pulse 2s linear;
  animation-iteration-count: infinite;
}

.tech-logos {
  width: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}