.qtrail-section {
  width: 100%;
  height: 100vh;
  background-color: midnightblue;
  color: white;
  display: flex;
  flex-direction: column;
  /* margin-top: 100px; */
  justify-content: center;
  align-items: center;
}

.qtrail-text {
  padding: 20px;
}