@font-face {
  font-family: "PixelFont";
  src: local("PixelFont"), url("../Fonts/PixelFont.ttf") format("truetype");
}

.links a {
  text-decoration: none;
  color: rgb(62, 72, 117);
}

.links a:hover {
  font-weight: 700;
  color: rgb(181, 133, 78);
}

.qtrail-section {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  color: rgb(62, 72, 117);
  display: flex;
  flex-direction: column;
  /* margin-top: 100px; */
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
}

.qtrail-section h2 {
  padding-top: 65px;
  font-family: "PixelFont";
  margin-bottom: 0;
}

.links p {
  padding: 0;
}

.qtrail-circle {
  width: 100vw;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 7px solid #ededed;
  border-radius: 200px;
  margin: 0 10px;
  background-color: rgb(62, 72, 117);
  color: white;
  text-align: center;
  padding: 0 28px;
}

.qtrail-circle button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.qtrail-circle img {
  width: 100px;
  animation: pulse 2s linear;
  animation-iteration-count: infinite;
  z-index: -1;
}

.tech-logos {
  width: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* .tech-stack h3 {
  column-span: all;
  margin-bottom: 0;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tech-stack-list {
  columns: 2 30vw;
  column-gap: normal;
  column-rule: thin solid rgb(62, 72, 117);
  list-style-type: none;
  border-left: thin solid rgb(62, 72, 117);
  padding-left: 10px;
} */

/*rgb(168, 123, 72) -- gold*/