.about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* align-self: center; */
  /* background-color: rgb(168, 123, 72); */
  height: 100vh;
}

.about-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.about-me {
  height: 90vh;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(62, 72, 117);
  background-color: white;
  margin-top: -1px;
  border-radius: 0 0 200px 200px;
}

.about-me p {
  padding-top: 20px;
}