.links a {
  text-decoration: none;
  color: rgb(62, 72, 117);
}

.links a:hover {
  font-weight: 700;
  color: rgb(189, 89, 52);
}

.linus-section {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  color: rgb(62, 72, 117);
  display: flex;
  flex-direction: column;
  /* margin-top: 100px; */
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
}

.linus-section h2 {
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 75px;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  margin-bottom: 0;
  border-top: 1px solid rgb(62, 72, 117);
  border-bottom: 1px solid rgb(62, 72, 117);
  border-radius: 5px;
}

.links p {
  padding: 0;
}

.linus-circle {
  width: 100vw;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 7px solid #ededed;
  border-radius: 200px;
  margin: 0 10px;
  background-color: rgb(62, 72, 117);
  color: white;
  text-align: center;
  padding: 0 30px;
}

.linus-circle button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.linus-circle img {
  width: 100px;
  background-color: white;
  border-radius: 50%;
  animation: pulse 2s linear;
  animation-iteration-count: infinite;
}

.tech-logos {
  width: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}