html {
  scroll-snap-type: y mandatory;
}

.snap {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.projects {
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  scroll-snap-type: x mandatory;
}

.about-section, .linus-section,
.spanimal-section, .qtrail-section,
.contact-section {
  padding-top: 5vh;
}
