* {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.snap {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.projects {
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  scroll-snap-type: x mandatory;
}

.linus-section,
.spanimal-section,
.qtrail-section {
  padding-top: 50px;
}
